datetime
subprocess
pyjokes
requests
json
Image
Imagegrab
gTTs
keyboard
Key
Listener
Button
Controller
playsound
pyttsx3
webbrowser
smtplib
speech_recognition
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
